/* Upper Header */

.upper-header-content {
    justify-content: space-between;
}

.upper-header-content>* {
    background-color: #daa520;
    padding: 15px;
}

.upper-header-content>.side {
    min-width: 200px;
}

.upper-header-content>nav {
    text-align: center;
    flex-grow: 1;
}

.upper-header-content>.logo.side {
    text-align: left;
}

.upper-header-content>.login.side {
    text-align: right;
}

/* Bottom Header */

.pink-square {
    background-color: #EE82EE;
    width: 900px;
    height: 400px;
    margin: 0 auto;
}

/* Main content */

.left-side {
    background-color: #1E90FF;
    height: 500px;
    width: 60%;
}

.right-side {
    background-color: #FFC0CB;
    height: 500px;
    width: 40%;
}

/* Section 4 */

.large-box {
    background-color: #228B22;
    width: 100%;
    height: 950px;
}

/* Upper Footer */

.upper-footer {
    border-bottom: 2px solid #D3D3D3;
}

.left-footer-box {
    background-color: #F08080;
    width: calc(100% / 3);
    height: 600px;
}

.right-footer-box {
    background-color: #20B2AA;
    width: calc(100% / 3 * 2);
    height: 600px;
}

.right-footer-internal-box {
    border: 2px dashed white;
    width: 25%;
}

/* Bottom Footer */

.bottom-footer-box {
    background-color: #7FFFD4;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bottom-footer-box>.logo-footer,
.bottom-footer-box>.button-footer {
    background-color: #FFB6C1;
    padding: 10px 15px;
}