.upper-header-content {
    display: flex;
    justify-content: center;
}

.upper-header-content>* {
    background-color: #daa520;
    border: 2px dashed black;
    padding: 15px;
}

.upper-header-content>.side {
    min-width: 200px;
}

.upper-header-content>nav {
    flex-grow: 1;
}