/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.row-reverse {
	flex-direction: row-reverse;
}

.d-flex {
	display: flex;
}

.grey {
	background-color: #D3D3D3;
}

.upper-header-content>*,
.pink-square,
.left-side,
.right-side,
.large-box,
.left-footer-box,
.bottom-footer-box>.logo-footer,
.bottom-footer-box>.button-footer {
	border: 2px dashed black;
}

/* Header */

.upper-header {
	background-color: #ADD8E6;
	padding: 20px 0;
}

.bottom-header {
	background-color: #00008B;
	padding: 50px 0;
}

/* Main */

.container>.main-content {
	display: flex;
	padding: 50px 0;
}

/* Footer */

.upper-footer {
	background-color: #23272A;
	padding: 20px 0px 40px 0px;
}

.bottom-footer {
	background-color: #23272A;
	padding-top: 20px;
}

.bottom-footer-box {
	padding: 20px 0;
}