/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

/* Header */

.upper-header {
	background-color: #ADD8E6;
	padding: 20px;
}

.bottom-header {
	background-color: #00008B;
	height: 500px;
}