/* Utils */

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.row-reverse {
	flex-direction: row-reverse;
}

.grey {
	background-color: #D3D3D3;
}

/* Header */

.upper-header {
	background-color: #ADD8E6;
	padding: 20px;
}

.bottom-header {
	background-color: #00008B;
	padding: 50px;
}

/* Main */

.container>.main-content {
	display: flex;
	padding: 50px;
}